$my-dark: rgb(23, 23, 23);
$my-light: #cccccc;
$my-dark-grey: #939393;
$my-light-grey: #222222;
$my-brown: #805a42;
$my-blue: #2942d4;
$my-yellow: #eeec00;

$primary: #aab0b5;
$secondary: $my-light-grey;
$dark: $my-dark;
$navbar-dark-color: $my-light;
$navbar-dark-hover-color: $my-dark-grey;

.after-deco::after,
.before-deco::before {
  content: "";
  background-image: url(../images/dark-honeycomb.png);
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.before-deco::before {
  content: "";
  left: 0%;
}

@import "../bootstrap-scss/functions";
@import "../bootstrap-scss/variables";
@import "../bootstrap-scss/mixins";
@import "../bootstrap-scss/utilities";

// Layout & components
@import "../bootstrap-scss/root";
@import "../bootstrap-scss/reboot";
@import "../bootstrap-scss/type";
@import "../bootstrap-scss/images";
@import "../bootstrap-scss/containers";
@import "../bootstrap-scss/grid";
@import "../bootstrap-scss/tables";
@import "../bootstrap-scss/forms";
@import "../bootstrap-scss/buttons";
@import "../bootstrap-scss/transitions";
@import "../bootstrap-scss/dropdown";
@import "../bootstrap-scss/button-group";
@import "../bootstrap-scss/nav";
@import "../bootstrap-scss/navbar";
@import "../bootstrap-scss/card";
@import "../bootstrap-scss/accordion";
@import "../bootstrap-scss/breadcrumb";
@import "../bootstrap-scss/pagination";
@import "../bootstrap-scss/badge";
@import "../bootstrap-scss/alert";
@import "../bootstrap-scss/progress";
@import "../bootstrap-scss/list-group";
@import "../bootstrap-scss/close";
@import "../bootstrap-scss/toasts";
@import "../bootstrap-scss/modal";
@import "../bootstrap-scss/tooltip";
@import "../bootstrap-scss/popover";
@import "../bootstrap-scss/carousel";
@import "../bootstrap-scss/spinners";
@import "../bootstrap-scss/offcanvas";
@import "../bootstrap-scss/placeholders";

// Helpers
@import "../bootstrap-scss/helpers";

// Utilities
@import "../bootstrap-scss/utilities/api";
// scss-docs-end import-stack

@import "partials/nav";
@import "partials/typography";
@import "partials/layout";
@import "partials/home";
