#mini-me {
  width: 100%;
}

.angle-bracket {
  color: $my-light;
  font-size: 280px;
  text-align: center;

  @media (min-width: 1400px) {
    font-size: 405px;
  }
}

#span-me {
  color: $my-brown;
}

#span-projects {
  color: $my-blue;
}
