body {
  font-family: "Poppins", sans-serif;
}

h2 {
  background-color: $my-dark;
}

h4 > a,
.text-center > h4 {
  color: $my-yellow;
}

.accordion-body {
  color: $my-light;
  background-color: $my-dark;
}
